# this should match the socket as configured in our unicorn.conf
upstream unicorn_<%= application %> {
   server unix:<%= current_path %>/tmp/sockets/unicorn.sock;
}

server {
    listen       80 default deferred;
    server_name  <%= domain_application %> <%= domain_aliases %>;

    keepalive_timeout 5;

    root <%= current_path %>/public;

    try_files $uri/index.html $uri @unicorn
    location @unicorn {
       # This is important for mpay24
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $http_host;
       proxy_redirect off;
       proxy_pass http://unicorn_<%= application %>;
    }

		location ~ ^/(assets)/  {
		  root <%= current_path %>/public;
		  gzip_static on; # to serve pre-gzipped version
		  expires max;
		  add_header Cache-Control public;
		}

    error_page  500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;

    location = /500.html {
        root <%=current_path%>/public;
    }
}

<% if enable_ssl == true %>
server {
	listen          443;
	server_name     <%= domain_application %> <%= domain_aliases %>;

	ssl on;
	ssl_certificate         <%= current_path %>/private/<%=application%>.combined.crt;
	ssl_certificate_key     <%= current_path %>/private/<%=application%>.key;

  keepalive_timeout 5;

  root <%= current_path %>/public;

  try_files $uri/index.html $uri @unicorn
  location @unicorn {
     # This is important for mpay24
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header Host $http_host;
     proxy_redirect off;
     proxy_pass http://unicorn_<%= application %>;
  }

  location / {
     # This is important for mpay24
     proxy_set_header X_FORWARDED_PROTO https;
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header Host $http_host;
     proxy_redirect off;

  }

  error_page  500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;

  location = /500.html {
      root <%= current_path %>/public;
  }
}
<% end %>
